<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head",) %> 

<body class="product">
    <%- include("../partials/header") %> 

   <main>
    <section class="container">
            <img src="/images/products/<%= product.image %> " alt="">
            <div class="alineacion">
                <div class="marnye">
                    <span class="marca marca2"><%= product.marca %> </span>
                    <div class="nye">
                        <h2><%= product.name %> </h2>
                        <div>
                            
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            
                        </div>
                    </div>
                </div>
                <span class="precio precio2">$<%= product.price %> </span>
                
                <button class="agregar">
                    <h4>Agregá tus lentes:</h4>
                    <span><i class="fas fa-plus"></i></span>
                </button>
                    <div class="receta">
                        <span>Receta oculista.</span>
                        <button>SUBIR ARCHIVO</button>
                    </div>
                    <button class="comprarya">Comprar Ahora</button>
            </div>
        
    </section>
    <section class="info">
            <h3>Detalles del Producto</h3>
        <button class="vermas">
            <span>Descripción</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Especificaciones</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Tamaño del marco</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas opciones">
            <span>Opciones de pago</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
    </section>
    <div class="interesar">
        <h3 class="bis">Tambien te podria interesar</h3>
    </div>
        <div class="interes">
            
            <section>
                
                <img class="anteojo" src="/images/products/<%= product.image %> " alt="">
                
                    <div class="combo">
                        <span class="marca">Marca</span>
                        <div class="nye">
                            <h2>Nombre del producto</h2>
                            <div>
                                
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                
                            </div>
                        </div>
                    </div>
                    <span class="precio precio3">$$$</span>
                    
                </section>
                <section class="segundoart">
                    <img class="anteojo" src="/images/products/<%= product.image %> " alt="">
                    
                        <div class="combo">
                            <span class="marca">Marca</span>
                            <div class="nye">
                                <h2>Nombre del producto</h2>
                                <div>
                                    
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    
                                </div>
                            </div>
                        </div>
                        <span class="precio precio3">$$$</span>
                    </section>
        </div>
        <div class="botontablet">
            <button class="fijo comprarya">Comprar Ahora</button>
        </div>
</main>
<%- include("../partials/footer") %> 

</body>
</html>
