<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head",{title : product.name}) %> 

<body class="product">
    <%- include("../partials/header") %> 

   <main>
    <section class="container">
        <div class="row" >
            <div class="col-4">
                <div class="d-flex flex-column">
                    <% product.images.forEach(image => { %>
                        <img width="150" src="/images/products/<%= image.file %> " alt="" onclick="document.getElementById('imgDetail').setAttribute('src','/images/products/<%=image.file%>')">
                   <% }) %>
                </div>
            </div>
            <div class="col-8 text-center">
                <img id="imgDetail" src="/images/products/<%= product.images[0] ? product.images[0].file : 'producto-sin-foto.png' %> " alt="">
                <small>
                                                
                    <%= product.mark.name %> |
                     <% if (product.code != null) { %>
                        <%= product.code %> |
                    <% } %>
                    <%= product.frame.name != null ? capitalize(product.frame.name) : capitalize(product.category.name) %>
                    
                </small>
            </div>
            <button class="comprarya fijo" onclick="addItem(event,'<%=product.id%>')"><a>Comprar Ahora</a></button>

        </div>
            <div class="alineacion">
                <div class="marnye">
                    <span class="marca marca2"><%= product.mark.name %> </span>
                    <div class="nye">
                        <h2><%= product.name %> </h2>
                        <div>
                            
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            
                        </div>
                        
                    </div>
                </div>
                

                <div class="precio">
                                            
                    <% if (product.discount> 0) { %>
                        <p class="discount">$<%= toThousand(product.price) %></p>
                        <p class="price">$<%= toThousand(priceFinal(product.price,product.discount).toFixed(0)) %></p>
                        <% } else { %>
                        <p class="discount"></p>
                        <p class="price">$<%= toThousand(product.price) %></p>
                         <% } %>
                </div>

                
                    <div class="receta">
                        <button>SUBIR RECETA</button>
                    </div>
            </div>
        
    </section>
    <section class="info">
            <h3>Detalles del Producto</h3>



            



            <div class="accordion-item">
                  <button class="accordion-button collapsed vermas" id="description" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span>Descripción</span>
                  </button>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                   <span><%= product.detail %> </span>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-button collapsed vermas" id="especificaciones" type="button" data-bs-toggle="collapse" data-bs-target="#especificaciones" aria-expanded="false" aria-controls="especificaciones">
                  <span>Especificaciones</span>
                </button>
              <div id="especificaciones" class="accordion-collapse collapse" aria-labelledby="especificaciones" data-bs-parent="#accordionExample">
                 <p>Marca: <%= product.mark.name %></p>
                 <p>Material del Marco: <%= product.frame.name %></p>
                 <p>Tipo de Lente: <%= product.lens.name %></p>
                 <p>Color: <%= product.color.name %></p>




              </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button collapsed vermas" id="tamaño" type="button" data-bs-toggle="collapse" data-bs-target="#tamaño" aria-expanded="false" aria-controls="tamaño">
                  <span>Material y Cuidados</span>
                </button>
              <div id="tamaño" class="accordion-collapse collapse" aria-labelledby="tamaño" data-bs-parent="#accordionExample">
                 <p>Los productos de La Optica se elaboran a partir de una esmerada selección de materiales. Manipule el producto con cuidado para poder disfrutarlo durante más tiempo.</p>

                 <p> Guarde el producto en su funda suministrada.                </p>
                 <p>Limpie el producto con un paño suave y seco.                </p>
                 <p>En caso necesario, emplee un paño húmedo y un detergente suave. No utilice disolventes (por ejemplo, alcohol o acetona) ni detergentes agresivos que pueden alterar las prestaciones del producto. </p>
              </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button collapsed vermas" id="opciones" type="button" data-bs-toggle="collapse" data-bs-target="#opciones" aria-expanded="false" aria-controls="opciones">
                    <span>Opciones de pago</span>
                </button>
              <div id="opciones" class="accordion-collapse collapse" aria-labelledby="opciones" data-bs-parent="#accordionExample">
                 <span>La Optica acepta los siguientes métodos de pago para las compras online:

                    Visa,MasterCard,American Express,Mercado Pago,Transferencia Bancaria</span>
              </div>
            </div>

    </section>
    <div class="interesar">
        <h3 class="bis">Tambien te podria interesar</h3>
    </div>
        <div class="interes">
            
            <section>
                
                
                    
                </section>
                
        </div>
        
        <section class="contenedorglider">
            <div class="glider-contain">
                <div class="glider">
                    <% products.forEach(product => { %>
                        <article>
                            <img class="anteojo" src="/images/products/<%= product.images[0] ? product.images[0].file : 'producto-sin-foto.png' %> " alt="">
                            
                                <div class="combo">
                                    <span class="marca"><%= product.mark.name %></span>
                                    <div class="nye">
                                        <h2><%= product.name %></h2>

                                        <div>
                                            
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div>
                                            
                                    <% if (product.discount> 0) { %>
                                        <p class="discount">$<%= toThousand(product.price) %></p>
                                        <p class="price">$<%= toThousand(priceFinal(product.price,product.discount).toFixed(0)) %></p>
                                        <% } else { %>
                                        <p class="discount"></p>
                                        <p class="price">$<%= toThousand(product.price) %></p>
                                         <% } %>
                                </div>
                        </article>
                    <% }) %>
                </div>
              
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>
</main>
<%- include("../partials/footer") %> 
<%- include("../partials/scripts") %> 
<script src="/js/detail.js"></script>

</body>
</html>
