<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head",{title : product.name}) %> 

<body class="product">
    <%- include('../partials/headerAdmin') %>

   <main>
    <section class="container">
            <img src="/images/products/<%= product.image %> " alt="">
            <div class="alineacion">
                <div class="marnye">
                    <span class="marca marca2"><%= product.marca %> </span>
                    <div class="nye">
                        <h2><%= product.name %> </h2>
                        <div>
                            
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            
                        </div>
                    </div>
                </div>
                

                <div class="precio">
                                            
                    <% if (product.discount> 0) { %>
                        <p class="discount">$<%= toThousand(product.price) %></p>
                        <p class="price">$<%= toThousand(priceFinal(product.price,product.discount).toFixed(0)) %></p>
                        <% } else { %>
                        <p class="discount"></p>
                        <p class="price">$<%= toThousand(product.price.toFixed(0)) %></p>
                         <% } %>
                </div>

            </div>
        
    </section>
    <section class="info">
            <h3>Detalles del Producto</h3>
        <button class="vermas">
            <span>Descripción</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Especificaciones</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Tamaño del marco</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas opciones">
            <span>Opciones de pago</span>
            <span><i class="fas fa-plus"></i></span>
        </button>

        <div class="editar-but">
        <button class="but-editar">                            <% if (product.category === "anteojos")  { %>
            <a href="/admin/editar-producto/<%= product.id %>" class="editador">EDITAR</i></a>  
            <%}else if (product.category === "lentes de contacto") { %>
                <a href="/admin/edit-contactLentes/<%= product.id %>" class="editador">EDITAR</i></a>                 

                <% }else{ %> 
                    <a href="/admin/edit-solucion-oftalmologica/<%= product.id %>" class="editador">EDITAR</i></a>                          
        <% } %></button>
        <form action="/admin/delete/<%= product.id %>?_method=DELETE " method="POST">
            <button type="submit" class="delete">ELIMINAR</button>
        </form>
    </div>

    </section>
    
</main>

<%- include("../partials/scripts") %> 
<script src="/js/detail.js"></script>

</body>
</html>
