<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %> 
    <body>
    <%- include('../partials/header') %> 




    <main class="edit">

        <section class="imagen">
            
           <div class='anteojo'>
            <img src="/images/anteojo-madera (1).jpg" alt="">
           </div>
               
            
            



            <div>
                <button>
                    <a href="">Cargar imagen</a>
                </button>
            </div>

            <div>
                <label for="">JPG</label>
                <input type="checkbox">
                <label for="">PNG</label>
                <input type="checkbox">
                <label for="">TIFF</label>
                <input type="checkbox">
                <label for="">BMP</label>
                <input type="checkbox">
            </div>



        </section>




        <section class="formulario">
            <form action="/products/edit <%=product.id%>?_method=PUT" method="POST">


                <div class="container">

                    <label for="name">Nombre del producto</label>
                    <input type="text" id="name" name="name" value="<%= product.name %> ">
                     


                </div>

                <div class="container">

                    <label for="Marca">Marca del producto</label>
                    <input type="text" id="brand" name="Marca" value="<%= product.marca %> ">



                </div>

                <div class="container">

                    <label for="price">Precio del producto</label>
                    <input type="number" id="price" name="price" value=<%= product.price %> >


                </div>
                <div class="container">

                    <label for="Descuento">Descuento del producto</label>
                    <input type="text" id="Descuento" name="Descuento" value=<%= product.discount %> >



                </div>
                <div class="container">

                    <label for="color">color del producto</label>
                    <input type="color" id="color" name="color" value="<%= product.color %> ">



                </div>

                <div class="container">
                    <div>
                        <label for="descripcion">detalle del producto</label>
                    </div>
                    <div>
                        <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
                    </div>

                </div>



                <div class="container">

                    <label for="Codigo">Codigo del producto</label>
                    <input type="text" id="Codigo" name="Codigo">



                </div>
                <div class="container">

                    <label for="lente">Tipo de lente del producto</label>
                    <input type="text" id="lente" name="lente">



                </div>

                <div class="container">
                    <div class="container">

                        <label for="marco">Tipo de marco del producto</label>
                        <input type="text" id="marco" name="marco">



                    </div>










                    <button>
                        <input type="submit" value="Cargar">
                    </button>




            </form>
            
        </section>

    </main>




    <%- include('../partials/footer') %> 

</body>

</html>