<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head",{title : product.name}) %>

<body class="product">
    <%- include('../partials/headerAdmin') %>

    <main>
        <section class="container">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex flex-column">
                        <% product.images.forEach(image => { %>
                        <img width="150" src="/images/products/<%= image.file %> " alt=""
                            onclick="document.getElementById('imgDetail').setAttribute('src','/images/products/<%=image.file%>')">
                        <% }) %>
                    </div>
                </div>
                <div class="col-8">
                    <img id="imgDetail"
                        src="/images/products/<%= product.images[0] ? product.images[0].file : 'producto-sin-foto.png' %> "
                        alt="">
                </div>
            </div>
            <div class="alineacion">
                <div class="marnye">
                    <span class="marca marca2"><%= product.mark.name %> </span>
                    <div class="nye">
                        <h2><%= product.name %> </h2>
                        <div>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>

                        </div>
                    </div>
                </div>
                <div class="precio">
                    <% if (product.discount> 0) { %>
                    <p class="discount">$<%= toThousand(product.price) %></p>
                    <p class="price">$<%= toThousand(priceFinal(product.price,product.discount).toFixed(0)) %></p>
                    <% } else { %>
                    <p class="discount"></p>
                    <p class="price">$<%= toThousand(product.price.toFixed(0)) %></p>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="info">
            <h3>Detalles del Producto</h3>
            <div class="accordion-item">
                <button class="accordion-button collapsed vermas" id="description" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <span>Descripción</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <span><%= product.detail %> </span>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-button collapsed vermas" id="especificaciones" type="button"
                    data-bs-toggle="collapse" data-bs-target="#especificaciones" aria-expanded="false"
                    aria-controls="especificaciones">
                    <span>Especificaciones</span>
                </button>
                <div id="especificaciones" class="accordion-collapse collapse" aria-labelledby="especificaciones"
                    data-bs-parent="#accordionExample">
                    <p>Marca: <%= product.mark.name %></p>
                    <p>Material del Marco: <%= product.frame.name %></p>
                    <p>Tipo de Lente: <%= product.lens.name %></p>
                    <p>Color: <%= product.color.name %></p>
                </div>
            </div>
            <div class="editar-but">
                <button class="but-editar"> <% if (product.category.name === "anteojos")  { %>
                    <a href="/admin/editar-producto/<%= product.id %>" class="editador">EDITAR</i></a>
                    <%}else if (product.category.name === "lentes de contacto") { %>
                    <a href="/admin/edit-contactLentes/<%= product.id %>" class="editador">EDITAR</i></a>

                    <% }else{ %>
                    <a href="/admin/edit-solucion-oftalmologica/<%= product.id %>" class="editador">EDITAR</i></a>
                    <% } %></button>
                <form action="/admin/delete/<%= product.id %>?_method=DELETE " method="POST">
                    <button type="submit" class="delete">ELIMINAR</button>
                </form>
            </div>
        </section>
    </main>
    <%- include("../partials/scripts") %>
    <script src="/js/detail.js"></script>
</body>

</html>