<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main class="tabla">
        <div class="container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Lente</th>
                        <th scope="col">Categoria</th> 
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <th scope="row"> <%= product.id %>  </th>
                        <td><%= product.name %> </td>
                        <td><%= product.marca %> </td>
                        <td><%= product.price %> </td>
                        <td><%= product.detail %> </td>
                        <td><%= product.codigo %> </td>
                        <td><%= product.lens %> </td>
                        <td><%= product.category %> </td>
                        <td>
                            <a href="/products/detail/<%= product.id %> "><i class="fas fa-eye"></i></a>
                            <a href="/products/edit/<%= product.id %> " class="editador"><i class="fas fa-edit"></i></a>
                            <form action="/products/delete/<%= product.id %>?_method=DELETE " method="POST"></form>
                            <button type="submit" class="borrar"><i class="fas fa-trash-alt"></i></button>
                        </td>
                     
                    <% }) %>
                </tbody>
            </table>

        </div>

    </main>
    
</body>
</html>