<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>




            <main class="edit">

                <section class="formulario">

                     <h3>Editando : <%= product.name %> </h3>




                    <form action="/admin/editar-producto/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">


                        <section class="imagen">

                            <div class='anteojo'>
                                <input type="file" name="image" required>
                            </div>



                        </section>






                        <div class="container">

                            <label for="name">Nombre del producto</label>
                            <input type="text" id="name" name="name" value="<%= product.name %> " required>



                        </div>

                        <div class="container">

                            <label for="marca">Marca del producto</label>
                            <input type="text" id="marca" name="marca" value="<%= product.marca %>" required>



                        </div>

                        <div class="container">

                            <label for="price">Precio del producto</label>
                            <input type="number" id="price" name="price" value="<%=product.price %>" required>


                        </div>
                        <div class="container">

                            <label for="discount">Descuento del producto</label>
                            <input type="number" id="discount" name="discount" value="<%=product.discount %>" required>



                        </div>
                        <div class="container">

                            <label for="color">color del producto</label>
                            <input type="text" id="color" name="color" value="<%= product.color %>" required>



                        </div>

                        <div class="container">
                            <div>
                                <label for="detail">detalle del producto</label>
                            </div>
                            <div>
                                <textarea name="detail" id="" cols="30" rows="10"><%= product.detail %></textarea>
                            </div>

                        </div>



                        <div class="container">

                            <label for="codigo">Codigo del producto</label>
                            <input type="number" id="codigo" name="codigo" value="<%=product.codigo%>" required>



                        </div>
                        <div class="container">

                            <label for="lens">Tipo de lente del producto</label>
                            <select class="lens" name="lens" required>
                                <option value="">Seleccione Uno …</option>
                                <option value="de sol">de sol</option>
                                <option value="fotocromaticas">fotocromaticas</option>
                                <option value="blue ligth">blue ligth</option>
                                <option value="transition">transition</option>
                            </select>
        
        
        
                        </div>

                        <div class="container">
                            <div class="container">
                               
                                <label>tipo de marco:
                                    <select class="frame" name="frame" required>

                                        <option value="">Seleccione Uno …</option>
                                        <option value="metalico" <%= product.frame ? 'selected' : null %>>metalico</option>
                                        <option value="acrilico" <%= product.frame ? 'selected' : null %>>acrilico</option>
                                        <option value="madera" <%= product.frame ? 'selected' : null %> >madera</option>
                                        <option value="flexibles" <%= product.frame ? 'selected' : null %>>flexibles</option>
                                    </select>
                                </label>

                                 

                            </div>
                            <div class="container">
                                <div class="container">
                                    <label>categoria
                                        <select class="category" name="category" required>
                                            <option value="anteojos" >Anteojos</option>
                                         
                                        </select>
                                    </label>



                                </div>









                                <div class="cargar">
                                    <input type="submit" value="Cargar">
                                </div>







                    </form>

                </section>

            </main>




            <%- include('../partials/footer') %>

    </body>

</html>