<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="forms">
        <%- include('../partials/headerAdmin') %>
        <main >
            <div class="container">
                 <h3>Carga de Anteojos</h3>
                 <form class="needs-validation" action="/admin/crear-producto" method="POST" enctype="multipart/form-data" novalidate>
                   <div class="box left">
                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label for="name">Nombre del producto</label>
                            <input type="text" id="name" name="name" required>
                            
                            <div class="invalid-feedback">
                                El nombre del producto es requerido
                              </div>
                              <span class="form-error text-danger small"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                        </div>
                        </div>
                        
                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label for="code">Codigo del producto</label>
                            <input type="number" id="code" name="code" required>
                            <span class="form-error text-danger small"><%= locals.errors && errors.code ? errors.code.msg : null %></span>
                            <div class="invalid-feedback">
                                El codigo del producto es requerido
                              </div>
                        </div>
                        </div>

                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label>Color
                                <select name="color" id="color" class="color" required>
                                    <option value="" selected hidden>Color del producto</option>
                                    <% color.forEach(color => { %>
                                     <option value="<%= color.id %>" <%= locals.old && old.color.name === color.name ? 'selected' : null %> ><%= color.name %> </option>
                                    <% }) %>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                El color es requerido
                              </div>
                              <span class="form-error text-danger small"><%= locals.errors && errors.color ? errors.color.msg : null %></span>

                        </div>
                        </div>

                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label>Lente
                                <select name="lens" id="lens" class="lens" required>
                                    <option value="" selected hidden>Tipo de lente del producto</option>
                                    <% lens.forEach(lens => { %>
                                     <option value="<%= lens.id %>" <%= locals.old && old.lens.name === lens.name ? 'selected' : null %> ><%= lens.name %> </option>
                                    <% }) %>
                                    <span class="form-error text-danger small"><%= locals.errors && errors.lens ? errors.lens.msg : null %></span>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                El tipo de lente del producto es requerido
                              </div>
                        </div>
                        </div>
                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label>Marca
                                <select name="mark" id="mark" class="mark" required>
                                    <option value="" selected hidden>Marca del producto</option>
                                    <% mark.forEach(mark => { %>
                                     <option value="<%= mark.id %>" <%= locals.old && old.mark.name === mark.name ? 'selected' : null %> ><%= mark.name %> </option>
                                    <% }) %>
                                    <span class="form-error text-danger small"><%= locals.errors && errors.mark ? errors.mark.msg : null %></span>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                La marca del producto es requerido
                              </div>
                        </div>
                        </div>

                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label>Marco
                                <select name="frame" id="frame" class="frame" required>
                                    <option value="" selected hidden>Tipo de marco del producto</option>
                                    <% frame.forEach(frame => { %>
                                     <option value="<%= frame.id %>" <%= locals.old && old.frame.name === frame.name ? 'selected' : null %> ><%= frame.name %> </option>
                                    <% }) %>
                                    <span class="form-error text-danger small"><%= locals.errors && errors.frame ? errors.frame.msg : null %></span>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                El tipo de marco del producto es requerido
                              </div>
                        </div>
                        </div>


                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label>categorias
                                <select name="category" id="category" class="category" required>
                                    <option value="" selected hidden>Seleccione la categoría</option>
                                    <% category.forEach(category => { %>
                                     <option value="<%= category.id %>" <%= locals.old && old.category.name === category.name ? 'selected' : null %> ><%= category.name %> </option>
                                    <% }) %>
                                    <span class="form-error text-danger small"><%= locals.errors && errors.category ? errors.category.msg : null %></span>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                La categoria del producto es requerido
                              </div>
                        </div>
                        </div>


                       <div class="caja-item">
                        <div class="input-group has-validation">
                            <label>graduación
                                <select name="graduation" id="graduation" class="category" required>
                                    <option value="" selected hidden>Seleccione la graduacion</option>
                                    <% graduation.forEach(graduation => { %>
                                     <option value="<%= graduation.id %>" <%= locals.old && old.graduation.name === graduation.name ? 'selected' : null %> ><%= graduation.name %> </option>
                                    <% }) %>
                                    <span class="form-error text-danger small"><%= locals.errors && errors.graduation ? errors.graduation.msg : null %></span>
                                </select>
                            </label>
                            <div class="invalid-feedback">
                                La graduación del producto es requerido
                              </div>
                        </div>
                        </div>

                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label for="image"><a class="btn btn-primary">Subir Imagen</a></label>
                            <input type="file" name="image" id="image" hidden accept="image/*" multiple required>
                            <div class="invalid-feedback">
                               La imagen del producto es requerido
                              </div>
                        </div>
                        </div>
                                          
                        
                    </div>



                    <div class="box rigth">
                        
                        <div class="row">
                            <div class="caja-item caja-row">
                                <div class="input-group has-validation">
                                <label for="price"> Precio del producto</label>
                                <input class="color" type="number" id="price" name="price" required>
                                <span class="form-error text-danger small"><%= locals.errors && errors.price ? errors.price.msg : null %></span>
                                <div class="invalid-feedback">
                                    El precio del producto es requerido
                                   </div>
                             </div>
                            </div>

                            <div class="caja-item caja-row">
                                <div class="input-group has-validation">
                                <label for="discount">Descuento del producto</label>
                                <input class="color" type="number" id="discount" name="discount" requiured>
                                <div class="invalid-feedback">
                                    El descuento del producto es requerido
                                   </div>
                             </div>
                            </div>
                        </div>
                        
                        
                        <div class="caja-item">
                            <div class="input-group has-validation">
                            <label for="detail">detalle del producto</label>
                        
                            <textarea name="detail" id="" cols="30" rows="10" required></textarea>
                            <span class="form-error text-danger small"><%= locals.errors && errors.detail ? errors.detail.msg : null %></span>
                        </div>

                        

                       
                    


                        <div class="caja-carga">
                            <button class="btn btn-primary" type="submit" value="Cargar">Cargar</button>
                            
                        </div>
                    </div>
                </form>
                </div>
                
            </main>
            <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
            <script src="/js/productValidator.js"></script>
    </body>

</html>