<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body class="home">
        <%- include('./partials/header') %> 
        
            <main>
                <%- include('./components/glidejsStart', {clase : 'banner'}) %>
                    <% banners.forEach(banner => { %>
                        <div class="carousel__item" style="background-image: url('/images/banner/<%= banner.file %>');">
                        </div>
                    <% }) %>
                <%- include('./components/glidejsEnd', {clase : 'banner', dots : 'b-dots'}) %> 
                <%- include('./components/glidejsStart', {clase : 'marcas'}) %>
                    <% marcas.forEach(marca=> { %>
                        <div class="carousel__item" style="background-image: url('/images/marcas/<%= marca %>')">
                        </div>
                    <% }) %>
                <%- include('./components/glidejsEnd', {clase : 'marcas', dots : 'm-dots'}) %> 

                <section class="buscador">
                    <form class="" action="/search">
                        <input class="" type="search" placeholder="Buscar artículo" name="busqueda">
                        <button class="" type="submit">Buscar</button>
                    </form>
                </section>

                <section class="productos">
                    <% products.forEach(product=> { %>
                        <article>
                            <a href="/products/detalle-de-producto/<%= product.id %>">
                                <figure class="anteojos">
                                    <img class="img-anteojos" src="/images/products/<%= product.images[0] ? product.images[0].file : 'producto-sin-foto.png' %>"
                                    alt="<%= product.name, product.mark.name %>">
                                </figure>

                            <div class="box-detalle">
                                    <p class="title">
                                        <%= product.name %>
                                    </p>
                                <% if (product.discount> 0) { %>
                                    <p class="discount">
                                        <%= toThousand(product.price) %>
                                    </p>
                                    <p class="price">
                                        <%= toThousand(priceFinal(product.price,product.discount).toFixed(0))%>
                                    </p>
                                <% } else { %>
                                    <p class="discount"></p>
                                    <p class="price">
                                        <%= toThousand(product.price.toFixed(0)) %>
                                    </p>
                                <% } %>
                            </div>
                            </a>
                            <div class="check-like">
                                <input type="checkbox" id="<%= product.id %>">
                                <label for="<%= product.id %>"><i class="far fa-heart"></i></label>
                                <div class="check-buy">
                                    <input type="checkbox" class="buy" id="buy<%= product.id %>">
                                    <label for="buy<%= product.id %>"><i class="fas fa-shopping-basket"></i></label>
                                    <label class="plus" for="buy"><i class="fas fa-plus"></i></label>
                                </div>
                            </div>
                        </article>
                        <% }) %>
                </section>


                <section class="coleccion">
                    <div class="contenedor">
                        <figure class="uno">
                            <img src="/images/coleccion/anteojo-madera.jpg" alt="">
                            <a href="/images/coleccion/anteojo-madera.jpg">COLECCIÓN MADERA</a>
                        </figure>
                    </div>
                    <div class="contenedor">
                        <figure class="tres">
                            <img src="/images/coleccion/lente-plastico.jpg" alt="">
                            <a href="/images/coleccion/lente-plastico.jpg">COLECCIÓN ACRILICO</a>
                        </figure>
                    </div>
                    <div class="contenedor">
                        <figure class="dos">
                            <img class="lente-coleccion" src="/images/coleccion/lente metalico(1).jpg" alt="">
                            <a href="/images/coleccion/lente metalico(1).jpg">COLECCIÓN METÁLICO</a>
                        </figure>
                    </div>
                </section>

                <section class="container-galeria">
                    <div class="icono-instagram">
                        <div class="background-icono">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <h4>@LaOptica | Instagram</h4>
                    </div>

                    <section class="galeria-redes">
                        <div class="icono-flecha-der galeria-flechas"><button><i
                                    class="fas fa-chevron-right"></i></button></div>
                        <div class="icono-flecha-izq galeria-flechas"><button><i
                                    class="fas fa-chevron-left"></i></button></div>

                        <section class="post">
                            <section class="post-column">
                                <div class="post-row">
                                    <img class="uno" src="/images/galeria/anteojo-madera.jpg" alt="">
                                    <img class="dos" src="/images/galeria/anteojo-plastico.jpg" alt="">
                                </div>

                                <img class="grande" src="/images/galeria/anteojo-madera (4).jpg" alt="">
                                <img class="grande" src="/images/galeria/anteojo-madera (6).jpg" alt="">
                                <div class="post-row">
                                    <img src="/images/galeria/banner (2).jpg" alt="">
                                    <img src="/images/galeria/banner (3).jpg" alt="">
                                </div>
                                <div class="post-column last-column">
                                    <img src="/images/galeria/banner (4).jpg" alt="">
                                    <img src="/images/galeria/banner.jpg" alt="">
                                    <img src="/images/galeria/anteojo-madera (5).jpg" alt="">
                                </div>
                            </section>
                        </section>

                    </section>
                </section>

                <section class="whatsapp">
                    <div class="contenedor">
                        <nav>
                            <input type="checkbox" id="whatsapp">
                            <label for="whatsapp"><i class="fab fa-whatsapp"></i></label>
                            <ul>
                                <li><a href="">Escribinos por Whats App!</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>
                
    </body>
</html>