<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body class="home">
    <%- include('./partials/header') %>
    <main>
        <section class="buscador respuesta">
            <form action="/search">
                <input type="search" placeholder="Buscar artículo" name="busqueda">
                <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
            <h3>
                <%= title %> : <%= busqueda %>
            </h3>
        </section>
        
        <section class="productos">
            <% if (products.length> 0) { %>
                <% products.forEach(product=> { %>
                    <article>
                        <a href="/products/detalle-de-producto/<%= product.id %>">
                            <figure class="anteojos">
                                <img class="img-anteojos"
                                    src="/images/products/<%= product.images[0] ? product.images[0].file : 'producto-sin-foto.png' %>"
                                    alt="<%= product.name, product.mark.name %>">
                            </figure>

                            <div class="box-detalle">
                                <p class="title">
                                    <%= product.name %>
                                </p>
                                <% if (product.discount> 0) { %>
                                    <p class="discount">
                                        <%= toThousand(product.price) %>
                                    </p>
                                    <p class="price">
                                        <%= toThousand(priceFinal(product.price,product.discount).toFixed(0))%>
                                    </p>
                                <% } else { %>
                                    <p class="discount"></p>
                                    <p class="price">
                                        <%= toThousand(product.price.toFixed(0)) %>
                                    </p>
                                <% } %>
                            </div>
                        </a>
                        <div class="check-like">
                            <input type="checkbox" id="<%= product.id %>">
                            <label for="<%= product.id %>"><i class="far fa-heart"></i></label>
                            <div class="check-buy">
                                <input type="checkbox" class="buy" id="buy<%= product.id %>">
                                <label for="buy<%= product.id %>"><i class="fas fa-shopping-basket"></i></label>
                                <label class="plus" for="buy"><i class="fas fa-plus"></i></label>
                            </div>
                        </div>
                    </article>
                <% }) %>

            <% }else{ %>
                <p>No hay resultados para tu búsqueda </p>
            <% } %>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>